@page
@model WebShopProject.Pages.Shared.BuyoutModel
@{
    decimal totalSum = 0;
}
<html>
<body>

    <h3>Shopping Cart</h3>
    <table border="1">
        <tr>
            <th>ID</th>
        </tr>
        @foreach (var item in Model.ShoppingCart)
        {

            <tr align="center">
                <td>ID</td>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td><img src="~/images/@item.Image" width="250" height="250" /></td>
            </tr>
            totalSum += item.Cost;
        }
    </table>
    <h5>Totala Kostnad: @totalSum  </h5>

    <a asp-page="ThankYou">Bekräfta Köp </a>


    <!--- Ifyllnad av Information, namn, adress osv. -->
    <!--- En bekräftelseknapp för köp -->

</body>
</html>
