@page
@model WebShopProject.Pages.Shared.BuyoutModel
@{
    decimal totalSum = 0;
}
<html>
<body>

    <h3>Shopping Cart</h3>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Namn</th>
            <th>Bild</th>
            <th>Kostnad</th>
        </tr>
        @foreach (var item in Model.ShoppingCart)
        {

            <tr align="center">
                <td>
                    <p style="color:green">@item.ID<p />
                </td>
                <td>
                    <strong>@item.Name</strong>
                </td>
                <td><img src="~/images/@item.Image" width="250" height="250" /></td>
                <td>@item.Cost <img src="~/images/Silver_Coin.png" /></td>

            </tr>
            totalSum += item.Cost;
        }
    </table>
    <h5>Totala Kostnad: @totalSum <img src="~/images/Silver_Coin.png" />  </h5>





    <div class="fields">
        <div class="field">
            <label>Förnamn:</label>
            <input type="text" placeholder="First Name">
        </div>
        <div class="field">
            <label>Efternamn:</label>
            <input type="text" placeholder="Last Name">
        </div>
        <div class="field">
            <label>Adress: </label>
            <input type="text" placeholder="Adress">
        </div>
        <div class="field">
            <label>Magiker Licens: </label>
            <input type="number" placeholder="License">
        </div>
    </div>

    <!--- En bekräftelseknapp för köp -->


    <a asp-page="ThankYou"><button>Bekräfta Köp</button></a> 

</body>
</html>
