@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device.width" />
    <title>Index</title>

</head>
<body>

    <h3>Product List</h3>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Namn</th>
            <th>Bild</th>
            <th>Pris</th>
            <th>Köp</th>
        </tr>
        @foreach (var item in Model.Products) //Returnerar men visar inget; försöker lista ut varför
            {

            <tr align="center">
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td><img src="~/images/@item.Image" width="500" height="100" /></td>
                <td>@item.Cost</td>
                <td>
                    <a asp-page:"cart" asp-page-handler="buynow" asp-route-id="@item.ID">Köp</a>
                </td>
            </tr>
            }



   </table>

</body>
</html>


<div class="text-center">
    <h1 class="display-4">Magiska Galleriet</h1>
    <p>"Allt lyx en trollkarl kan tyckas behöva!"</p>
</div>
