@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device.width" />
    <title>Index</title>

</head>
<body>

    <h3>Product List</h3>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Cost</th>
            <th>Action</th>
        </tr>
        @foreach (var product in Model.Products) //Returnerar null ERROR, av någon anledning fungerar inte OnPost()
            {

            <tr align="center">
                <td>@product.ID</td>
                <td>@product.Name</td>
                <td>@product.Image</td>
                <td>@product.Cost</td>
                <td>
                    <a asp-page:"cart" asp-page-handler="buynow" asp-route-id="product.Id">Köp</a>
                </td>
            </tr>
            }



   </table>

</body>
</html>


<div class="text-center">
    <h1 class="display-4">Magiska Galleriet</h1>
    <p>"Allt lyx en trollkarl kan tyckas behöva!"</p>
</div>
