@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device.width" />
    <title>Index</title>

</head>
<body>

    <h3>Product List</h3>

</body>
</html>


<div class="text-center">
    <h1 class="display-4">Magiska Galleriet</h1>
    <p>"Allt lyx en trollkarl kan tyckas behöva!"</p>
</div>
