@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

- The wEBBSHOP owner ? Oliver, Karl-Johan and Oras is the responsible party for all collection of data. 
- For the ? Webbshop, no data is or will be deliberately collected or stored.
- The legal basis for not collecting any data is the right of every human being to privacy and a right to their own data.
- The purpose of not collecting is basic decency.                                                                              // Har lagt till ? DÅ VI INTE HAR ETT NAMN PÅ SIDAN ÄN.
- No third parties will have any access to the data not being collected.
- All changes to this policy will be updated at this page, and previous versions available through the commits.
- This policy is effective 11/12/2021
