@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ägaren av sidan är Oliver & Karl-Johan</p>

- Alla dina privata uppgifter kommer bearbetas i det kejserliga kontoret där surmulna trollkarlsbyråkrater
  som håller koll på alla dina magiska licenser och allmäna trollformler. Givetvis för att garantera alla trollkarlsmedborgare
  ett rättssäkert magikersamhälle där magi används i gott åsyfte och så att du slipper vildsinta avfällingar och pyromaner.