@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

- Webbshop ägaren av ? Oliver, Karl-Johan är ansvarig för all insamling av data.
- För ? Webbshop, ingen data samlas eller kommer att avsiktligt samlas in eller lagras.
– Den rättsliga grunden för att inte samla in några uppgifter är varje människas rätt till privatliv och en rätt till sin egen data.
                                                                             // Har lagt till ? DÅ VI INTE HAR ETT NAMN PÅ SIDAN ÄN.
- Ingen tredje part kommer att ha tillgång till de uppgifter som inte samlas in.
- Alla ändringar av denna policy kommer att uppdateras
- Denna policy gäller 2021-12-11
